@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #f8fafc;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  scroll-behavior: smooth;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
